{% extends 'layout.html.twig' %}

{% block title %}Bonbondex{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/styleGalery.css">{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class=" title">
        <h1 class="hallo text-align-center">Bonbondex,   <span class="small">attrapez-les tous !</span></h1>
        </div>
        <div class="row justify-content-center">
            {% for produit in res %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mt-5 mr-3">
                        <img class="img-fluid" src="{{ produit.image_url }}" alt="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 ">
                                    <h5 class="card-title text-center">{{ produit.product_name }}</h5>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="btn btn-ai">Je l'ai !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item"><a class="page-link btn-nikemouk" href="?button=previous">Previous</a></li>
                <li class="page-item"><a class="page-link btn-nikemouk" href="?button=1">1</a></li>
                <li class="page-item"><a class="page-link btn-nikemouk" href="?button=2">2</a></li>
                <li class="page-item"><a class="page-link btn-nikemouk" href="?button=3">3</a></li>
                <li class="page-item"><a class="page-link btn-nikemouk" href="?button=next">Next</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}