{% extends 'layout.html.twig' %}
{% block content %}
    <div class="homepage container">
        <h1 class="hallo">Devenez le plus grand collectionneur de bonbon en completant votre Bonbondex!</h1>
        <br/>
        <br/>
            <a href="/candy" class="btn btn-hallo">Attrapez-les tous! </a>
    </div>
{% endblock %}