{% extends 'layout.html.twig' %}
{% block content %}
            <h1 class="hallo text-align-center">Devenez le plus grand collectionneur de bonbon en completant votre Bonbondex!</h1>
            <a href="http://www.adresse-de-votre-choix.com/" class="bouton3">Attrapez-les tous! </a>
{% endblock %}