@font-face {
    font-family: "Halloween";
    src: url("/assets/police/Halloweentoo.ttf");
}
.hallo{
    font-size: 60px;
    font-family: 'Halloween', Serif, sans-serif;
    color: #fe5522;
    margin-bottom: 50px;
}
a.btn-hallo {
    font-weight:bold;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 16px;
}
.btn-hallo {
    background-color: #fe5522;
    width: 30vw;
    height: 60px;
    margin-top: 35px;
}
.btn-hallo:hover {
    background-color: #FE7531;
}
@media all and (max-width: 600px){
    .hallo {
        font-size: 55px;
        margin-bottom: 10px;
    }
    .btn {
        width: 65vw;
    }
}
body{
    background-image:url('../images/halloween.jpg');
    background-attachment: fixed;
}
.navbar{
    background-color: #fe5522;
    font-size:1.5em;
}
.nav-link, .navbar-brand{
    color:white;
}
.card{
    min-height:470px;
    max-height:470px;
    margin-top:20px;
    background: black;
    color: white;
    border:none;
    box-shadow: 8px 8px 12px #ffa144;
}

.img-fluid{
    min-height:350px;
    max-height:350px;
}
section {
    padding-top: 20px;
}
.title {
    color: #fe5522;
}
.homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn-nikemouk{
    background-color: #fe5522;
    color: white;
    border: none;

}
.btn-nikemouk:hover{
    background-color: #fe5522;
    color: white;
    border: none;

}
.btn-ai{
    margin-left: 6vw;
    color:white;
    text-shadow: 8px 8px 12px #ffa144;
    background-color: transparent;
}
